* {
    margin: 0%;
    box-sizing: border-box;
}

body {
    padding: 2%;
    text-align: center;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .container {
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        max-width: 100%;
        box-shadow: 0 0 1px;
    
        .drawer-img {
            width: 100%;
        }
        
        .hero-section {
            border-radius: 0 0 10px 10px;
            padding: 1em;
            text-align: justify;
    
            .header {
                font-size: 20px;
                font-weight: 700;
                padding-bottom: 1em;
                margin-top: 1em;
                color: hsl(214, 17%, 51%);
                line-height: 1.4em;
            }
    
            .text {
                color: hsl(212, 23%, 69%);
                margin-bottom: 1.4em;
                line-height: 22px;
            }
        }
    
        .person-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
    
            .person-profile {
                display:flex;
    
                .person-img{
                    width: 35px;
                    border-radius: 50%;
                    cursor: pointer;
                }
    
                .name-date {
                    margin-left: 12px;
    
                    .name {
                        color: hsl(214, 17%, 51%);
                        cursor: pointer;
                        font-size: 17px;
                    }
                    .date {
                        color: hsl(212, 23%, 69%);
                        display: block;
                        margin-top: 2px;
                    }
                }
            }
            
            .share-img {
                background-color: hsla(210, 6%, 86%, 0.767);
                border-radius: 50%;
                cursor: pointer;
                padding: 8px;
                justify-self: end;
                align-self: center;
            }
        }

        .share-container{
            display: none;

            .social-media-share {
                background-color: hsl(217, 19%, 35%);
                padding: 1em;
                display: none;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
        
                .share-text {
                    justify-self: start;
                    text-transform: uppercase;
                    color: hsl(212, 23%, 69%);
                    letter-spacing: .2em;
                }
                .socialmedia-icons{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    align-items: center;
                }
                .share-cart {
                    background-color: hsl(220, 43%, 99%);
                    border-radius: 50%;
                    padding: 6px;
                    justify-self: end;
                }
                img {
                    cursor: pointer;
                }
            }
        }
    }
    
}


@media only screen and (min-width: 768px) {
    body{
        padding: 5%;
    }
    .container{
        width: 866.81px;

        .main{
            display: flex;

            .drawer-img {
                width: 346.72px;
                max-width: 40%;
            }
            .hero-section {
                width: 520.08px;
                max-width: 60%;
                padding: 1.5em 2em;
            } 
      
        }
       .person-container{
          .name{
            &:hover{
                border-bottom: solid 1px;
            }
            &:active{
                font-size: 15px;
            }
          }
       }

       .share-container{
          position: absolute;
          left: 75%;
          bottom: 40%;
          border-radius: 10px;
          width: 200px;
          
          .social-media-share{
              justify-content: space-around;
              display: flex;
              border-radius: 10px;
            
              .socialmedia-icons{
                  img{
                    display: block;
                    margin: 0 5px;
                  }
              }
              .share-cart{
                  display: none;
                }
            }
       }
    }

}
